@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: "Roboto Condensed";
  src: url("src/fonts/static/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "Roboto Condensed";
  src: url("src/fonts/static/RobotoCondensed-Medium.ttf");
}
@font-face {
  font-weight: 600;
  font-family: "Roboto Condensed";
  src: url("src/fonts/static/RobotoCondensed-SemiBold.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto Condensed";
  src: url("src/fonts/static/RobotoCondensed-Bold.ttf");
}
html {
  font-size: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 1.6rem;
  color: #000;
}

a {
  color: inherit;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.btn {
  display: block;
  width: 26rem;
  height: 6rem;
  margin-top: 2.4rem;
  padding: 1.2rem 3.2rem;
  border-radius: 1.2rem;
  position: relative;
  background: linear-gradient(94.05deg, #C403F4 -50.53%, #0092D1 119.48%);
  -webkit-box-shadow: 2px 4px 22px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 22px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  -webkit-transform: translateX(2rem);
      -ms-transform: translateX(2rem);
          transform: translateX(2rem);
}

.divider {
  display: block;
  width: 12rem;
  height: 4rem;
  position: absolute;
  top: -0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section_title {
  font-size: 3.6rem;
  text-align: center;
  line-height: 3.6rem;
}

.navigation {
  height: 6rem;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.navigation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.navigation_menu {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.navigation_menu-item {
  height: inherit;
  padding-top: 2rem;
  font-size: 2rem;
  margin: 0 1.2rem;
  color: #C0C0C0;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.navigation_menu-item:hover {
  color: #118CE5;
  border-bottom: 0.2rem solid #118CE5;
}
.navigation_phone {
  padding: 0.8rem 1.6rem;
  border-radius: 3rem;
  border: 0.2rem solid rgba(192, 192, 192, 0.537254902);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navigation_phone-tel {
  font-size: 2rem;
  color: #000;
  margin-left: 2rem;
}
.navigation_phone-img {
  height: 2rem;
}
.navigation_phone:hover {
  border-color: #118CE5;
}

.logo {
  display: block;
  height: 4rem;
}
.logo img {
  height: 100%;
}

.header {
  background-color: #FAFAFC;
  padding-top: 6rem;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.header_info {
  margin-top: 25vh;
}
.header_info-heading {
  font-size: 5.4rem;
  line-height: 5.4rem;
  font-weight: 600;
}
.header_info-location {
  color: #118CE5;
  font-size: 2.4rem;
  margin-top: 1.6rem;
}
.header_info-call {
  color: #000;
  margin-top: 15vh;
  font-size: 2.4rem;
}
.header_img {
  display: block;
  max-width: 30%;
  position: absolute;
  right: 10%;
  top: 15vh;
}

.service {
  min-height: 100vh;
  padding-top: 8rem;
  background-color: #fff;
  position: relative;
}
.service .section_title span {
  background: linear-gradient(94.05deg, #C403F4 -50.53%, #0092D1 119.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.service_list {
  display: block;
  background-color: #FAFAFC;
  width: 40rem;
  height: 60rem;
  padding: 9rem 4.8rem;
  border-radius: 2.4rem;
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.service_list-item {
  font-size: 1.6rem;
  margin-top: 3.6rem;
  padding-left: 4.6rem;
  position: relative;
}
.service_list-item:first-child {
  margin-top: 0;
}
.service_list-item::before {
  content: url("src/img/list-marker.svg");
  position: absolute;
  left: 0;
  top: 0.5rem;
}
.service_list::before {
  content: " ";
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  position: absolute;
  top: -2.4rem;
  left: -2.4rem;
  background-color: red;
  z-index: -1;
}