@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: "Roboto Condensed";
  src: url("src/fonts/static/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "Roboto Condensed";
  src: url("src/fonts/static/RobotoCondensed-Medium.ttf");
}
@font-face {
  font-weight: 600;
  font-family: "Roboto Condensed";
  src: url("src/fonts/static/RobotoCondensed-SemiBold.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto Condensed";
  src: url("src/fonts/static/RobotoCondensed-Bold.ttf");
}
html {
  font-size: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  color: #000;
}

a {
  color: inherit;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

section {
  padding: 8rem 0;
}

.btn {
  display: block;
  width: 26rem;
  height: 6rem;
  margin-top: 2.4rem;
  padding: 1.2rem 3.2rem;
  border-radius: 1.2rem;
  position: relative;
  background: linear-gradient(94.05deg, #C403F4 -50.53%, #0092D1 119.48%);
  -webkit-box-shadow: 2px 4px 22px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 22px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  -webkit-transform: translateX(2rem);
      -ms-transform: translateX(2rem);
          transform: translateX(2rem);
}
.btn img {
  height: 1.8rem;
}

.divider_reverse {
  display: block;
  width: 12rem;
  height: 4rem;
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.divider {
  display: block;
  width: 12rem;
  height: 4rem;
  position: absolute;
  top: -0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section_title {
  font-size: 3.6rem;
  text-align: center;
  line-height: 3.6rem;
}

.navigation {
  height: 6rem;
  width: 100%;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.navigation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.navigation_burgerbtn {
  display: none;
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: 0.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}
.navigation_burgerbtn::before {
  content: "";
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("src/img/burger_x.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(-4rem);
      -ms-transform: translateY(-4rem);
          transform: translateY(-4rem);
  opacity: 0;
}
.navigation_burgerbtn::after {
  content: "";
  display: block;
  width: 4rem;
  height: 3rem;
  background-image: url("src/img/burger_menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0.5rem;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.navigation_burgerbtn.active::before {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  opacity: 1;
}
.navigation_burgerbtn.active::after {
  -webkit-transform: translateY(4rem);
      -ms-transform: translateY(4rem);
          transform: translateY(4rem);
  opacity: 0;
}
.navigation_burgerbtn:hover {
  cursor: pointer;
}
.navigation_menu {
  margin-left: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.navigation_menu-item {
  height: inherit;
  padding-top: 2rem;
  font-size: 2rem;
  margin: 0 1.2rem;
  color: #C0C0C0;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
.navigation_menu-item:hover {
  color: #118CE5;
  border-bottom: 0.2rem solid #118CE5;
}
.navigation_phone {
  padding: 0.8rem 1.6rem;
  border-radius: 3rem;
  border: 0.2rem solid rgba(192, 192, 192, 0.537254902);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navigation_phone-tel {
  font-size: 2rem;
  color: #000;
  margin-left: 2rem;
}
.navigation_phone-img {
  height: 2rem;
}
.navigation_phone:hover {
  border-color: #118CE5;
}

.logo {
  display: block;
  height: 4rem;
}
.logo img {
  height: 100%;
}

.logo_mobile {
  display: none;
}

.header {
  background-color: #FAFAFC;
  padding-top: 6rem;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.header_mobile-img {
  display: none;
}
.header_info {
  margin-top: 25vh;
  max-width: 77rem;
}
.header_info-heading {
  font-size: 5.4rem;
  line-height: 5.4rem;
  font-weight: 600;
}
.header_info-location {
  color: #118CE5;
  font-size: 2.4rem;
  margin-top: 1.6rem;
}
.header_info-call {
  color: #000;
  margin-top: 15vh;
  font-size: 2.4rem;
}
.header_img {
  display: block;
  max-width: 30%;
  position: absolute;
  right: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.list_wrapper {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 40rem;
  height: 60rem;
  border-radius: 2.4rem;
}
.list_wrapper::before {
  content: " ";
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  position: absolute;
  top: -2.4rem;
  left: -2.4rem;
  background: linear-gradient(94.05deg, #C403F4 -50.53%, #0092D1 119.48%);
  z-index: 0;
}

.service {
  min-height: 100vh;
  background-color: #fff;
  position: relative;
}
.service .section_title span {
  background: linear-gradient(94.05deg, #C403F4 -50.53%, #0092D1 119.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.service_list {
  display: block;
  background-color: #FAFAFC;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 2px 4px 22px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 22px rgba(0, 0, 0, 0.1);
  padding: 9rem 4.8rem;
  border-radius: 2.4rem;
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.service_list-item {
  font-size: 1.6rem;
  margin-top: 3.6rem;
  padding-left: 4.6rem;
  position: relative;
}
.service_list-item:first-child {
  margin-top: 0;
}
.service_list-item::before {
  content: url("src/img/list-marker.svg");
  position: absolute;
  left: 0;
  top: 0.5rem;
}
.service_info {
  max-width: 67rem;
}
.service_info-text {
  color: #000;
  font-size: 2.4rem;
  margin-top: 4.8rem;
  text-align: left;
}
.service_info-text span {
  color: #118CE5;
}
.service_info-text:first-child {
  margin-top: 0;
}
.service_info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12rem;
}
.service_info-btn {
  background: linear-gradient(94.92deg, #C403F4 -156.51%, #0092D1 117.35%);
  position: relative;
  margin: 0;
}
.service_info-radius {
  display: block;
  margin-left: 4.8rem;
  color: #118CE5;
  border-bottom: 2px solid #118CE5;
  font-size: 2.4rem;
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 4.8rem;
}
.service_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 14rem;
}

.advantages {
  position: relative;
  background-color: #FAFAFC;
}
.advantages_cards {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 14rem;
}
.advantages_cards-mobile {
  display: none;
}

.reviews {
  position: relative;
}
.reviews_list {
  margin: 0 auto;
  margin-top: 14rem;
  list-style: none;
  max-width: 90rem;
}
.reviews_list-item {
  text-align: left;
  margin-top: 8.4rem;
}
.reviews_list-item:first-child {
  margin-top: 0;
}
.reviews_list-item h3 {
  font-size: 2.8rem;
  font-weight: 600;
  margin-left: 7.6rem;
  color: #000;
  position: relative;
}
.reviews_list-item h3::before {
  content: "";
  display: block;
  width: 6rem;
  height: 6rem;
  background-image: url("src/img/review.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -1.5rem;
  left: -7.6rem;
}
.reviews_list-item p {
  margin-top: 2.8rem;
  font-size: 2.4rem;
  color: #000;
}

#contacts_decor_left {
  top: 10rem;
  left: -20rem;
}

#contacts_decor_right {
  bottom: 5rem;
  right: -25rem;
}

.contacts {
  position: relative;
  background-color: #FAFAFC;
  padding-bottom: 16rem;
  overflow: hidden;
}
.contacts_decorwrapper {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-top: 14rem;
  max-width: 120rem;
}
.contacts_wrapper {
  height: 60rem;
  position: relative;
  z-index: 100;
  padding: 8rem 13rem;
  border-radius: 2.4rem;
  background-color: #fff;
  -webkit-box-shadow: 2px 4px 22px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 22px rgba(0, 0, 0, 0.1);
}
.contacts_wrapper-tel {
  background: linear-gradient(112.92deg, #C403F4 -104.21%, #0092D1 100.43%);
  display: block;
  width: 46rem;
  padding: 2.4rem 1rem;
  color: #fff;
  border-radius: 2.4rem;
  text-align: center;
  -webkit-box-shadow: 2px 4px 22px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 22px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.contacts_wrapper-tel:hover {
  -webkit-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
          transform: translateY(-1rem);
}
.contacts_wrapper-tel h2 {
  font-size: 4.8rem;
  font-weight: 600;
}
.contacts_wrapper-tel div {
  margin: 0 auto;
  margin-top: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts_wrapper-tel div span {
  font-size: 2.8rem;
  font-weight: 400;
  margin-left: 2.4rem;
}
.contacts_wrapper-decor {
  position: absolute;
  z-index: 1;
}
.contacts_info {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts_info-text {
  max-width: 54rem;
  font-size: 2.4rem;
  line-height: 2.8rem;
}
.contacts_info-text span {
  color: #118CE5;
}
.contacts_info-text p {
  margin-bottom: 2.4rem;
}
.contacts_info-socials {
  font-size: 2.4rem;
  font-weight: 600;
}
.contacts_info-socials a {
  display: block;
  position: relative;
}
.contacts_info-socials a::before {
  content: "";
  display: block;
  background-image: url("src/img/whatsapp.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 3.8rem;
  height: 3.8rem;
  position: absolute;
  top: -1rem;
  left: -6.2rem;
}
.contacts_info-socials a:hover {
  text-decoration: underline;
}
.contacts_info-socials span {
  display: block;
  margin-top: 2.6rem;
  position: relative;
}
.contacts_info-socials span::before {
  content: "";
  display: block;
  background-image: url("src/img/time.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: -0.8rem;
  left: -6.3rem;
}

.footer {
  padding: 3.6rem 0;
  text-align: center;
}
.footer_logo {
  display: block;
  margin: 0 auto;
  width: 17rem;
}
.footer_logo img {
  width: 100%;
}
.footer_menu {
  margin: 0 auto;
  margin-top: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: 1.5rem;
}
.footer_menu-item {
  margin: 0 2.4rem;
  font-size: 2.4rem;
  color: #C0C0C0;
  text-align: center;
}
.footer_menu-item:hover {
  color: #118CE5;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
  html {
    font-size: 8px;
  }
  .header_info {
    max-width: 60rem;
  }
  .header_img {
    max-width: 40%;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 90%;
  }
  .btn {
    border-radius: 50rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .btn span {
    margin-right: 2.4rem;
    padding-left: 2.4rem;
  }
  .header .main_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .header_img {
    display: none;
  }
  .header_mobile-img {
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-top: 5vh;
  }
  .header_info {
    margin: 0 auto;
    margin-top: 4.8rem;
    width: 100%;
    text-align: center;
  }
  .header_info-btn {
    margin: 0 auto;
    margin-top: 2.4rem;
  }
  .header_info-call {
    margin-top: 10vh;
  }
  .service_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .service .list_wrapper {
    margin-top: 20rem;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: left;
  }
  .service_info {
    max-width: 100%;
  }
  .service_info-text {
    width: 100%;
  }
  .service_list {
    display: block;
  }
  .service_list-item {
    font-size: 2.4rem;
    margin-top: 6.6rem;
    padding-left: 6.6rem;
  }
  .service_list-item::before {
    top: -0.5rem;
  }
  .reviews_list {
    max-width: 100%;
  }
  .contacts_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .contacts_info-socials {
    padding-left: 6rem;
    margin-top: 2.4rem;
  }
  .contacts_info-text {
    max-width: 100%;
  }
  .contacts_wrapper {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 768px) {
  .logo {
    display: none;
  }
  .logo_mobile {
    display: block;
    height: 4rem;
  }
  .logo_mobile img {
    height: 100%;
  }
  .container {
    max-width: 95%;
    padding: 0 1rem;
  }
  .navigation_menu {
    display: none;
  }
  .navigation_burgerbtn {
    display: block;
  }
  .header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 8rem;
  }
  .header_info-heading {
    font-size: 4.2rem;
    line-height: 4.2rem;
  }
  .header_info-location {
    font-size: 1.8rem;
  }
  .header_info-call {
    font-size: 1.8rem;
  }
  .contacts_wrapper {
    padding: 8rem 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 500px) {
  .header_mobile-img {
    width: 90%;
  }
  .contacts_wrapper-tel {
    width: 100%;
  }
  .contacts_wrapper-tel h2 {
    font-size: 3.6rem;
  }
  .contacts_wrapper-tel span {
    font-size: 2.4rem;
  }
  .contacts_wrapper-tel img {
    height: 4.2rem;
  }
  .advantages_cards {
    display: none;
  }
  .advantages_cards-mobile {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 14rem;
  }
}
@media (max-width: 425px) {
  .service_info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .service_info-radius {
    margin-left: 1rem;
    margin-top: 2.4rem;
  }
  .service .list_wrapper {
    width: 90%;
  }
  .service_list {
    padding: 6rem 2.8rem;
  }
  .service_list-item {
    font-size: 1.8rem;
  }
  #contacts_decor_left {
    display: none;
  }
  #contacts_decor_right {
    display: none;
  }
}
@media (max-width: 400px) {
  .section_title {
    font-size: 2.8rem;
  }
  .header_info-heading {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
  .reviews_list-item h3 {
    font-size: 2.4rem;
    margin-left: 5.6rem;
  }
  .reviews_list-item h3::before {
    width: 4rem;
    height: 4rem;
    top: -1rem;
    left: -5.6rem;
  }
  .reviews_list-item p {
    font-size: 2rem;
  }
}
@media (max-width: 320px) {
  .container {
    width: 95%;
    padding: 0;
  }
  html {
    font-size: 7px;
  }
}