@font-face {
    font-weight: 400; /* Соответствует значению normal */
    font-family: "Roboto Condensed";
    src: url("src/fonts/static/RobotoCondensed-Regular.ttf");
  }
@font-face {
    font-weight: 500; 
    font-family: "Roboto Condensed";
    src: url("src/fonts/static/RobotoCondensed-Medium.ttf");
  }
@font-face {
    font-weight: 600; 
    font-family: "Roboto Condensed";
    src: url("src/fonts/static/RobotoCondensed-SemiBold.ttf");
  }
@font-face {
    font-weight: 700; 
    font-family: "Roboto Condensed";
    src: url("src/fonts/static/RobotoCondensed-Bold.ttf");
  }