@import "fonts.scss";

// Основные цвета
$accent: #118CE5;
$disabled_text: #C0C0C0;
$section_bg: #FAFAFC;

// Тень для объектов
$card_shadow: 2px 4px 22px rgba(0, 0, 0, 0.1);




html {
    font-size: 10px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    color: #000;
}

a {
    color: inherit;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}

section {
    padding: 8rem 0;
}

.btn {
    display: block;
    width: 26rem;
    height: 6rem;

    margin-top: 2.4rem;
    padding: 1.2rem 3.2rem;

    border-radius: 1.2rem;
    position: relative;

    background: linear-gradient(94.05deg, #C403F4 -50.53%, #0092D1 119.48%);
    box-shadow: (2px 4px 22px rgba(0, 0, 0, 0.2));;
    color: #fff;
    font-size: 2.8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all 0.3s ease-in-out;

    &:hover {
        transform: translateX(2rem)
    }

    img {
        height: 1.8rem;
    }

}

.divider_reverse {
    display: block;
    width: 12rem;
    height: 4rem;
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.divider {
    display: block;
    width: 12rem;
    height: 4rem;
    position: absolute;
    top: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.section_title {
    font-size: 3.6rem;
    text-align: center;
    line-height: 3.6rem;
}