@import "reset.scss";
@import "globals.scss";


.navigation {

    height: 6rem;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    background: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &_menu {
        width: fit-content;
        display: flex;
        justify-content: center;
        height: 100%;

        &-item {
            height: inherit;
            padding-top: 2rem;
            font-size: 2rem;
            margin: 0 1.2rem;
            color: $disabled_text;

            transition: color 0.2s ease-in-out;

            &:hover {
                color: $accent;
                border-bottom: 0.2rem solid $accent;
            }
        }
    }

    &_phone {
        padding: 0.8rem 1.6rem;
        border-radius: 3rem;
        border: 0.2rem solid #c0c0c089;

        transition: all 0.2s ease-in-out;

        &-tel {
            font-size: 2rem;
            color: #000;
            margin-left: 2rem;
        }

        &-img {
            height: 2rem;
        }

        &:hover {
            border-color: $accent;
        }
    }
}

.logo {
    display: block;
    height: 4rem;
    img {
        height: 100%;
    }
}

.header {
    background-color: $section_bg;
    padding-top: 6rem;
    min-height: 100vh;
    position: relative;


    overflow: hidden;

    &_info {
        margin-top: 25vh;
        
        &-heading {
            font-size: 5.4rem;
            line-height: 5.4rem;
            font-weight: 600;
        }

        &-location {
            color: $accent;
            font-size: 2.4rem;
            margin-top: 1.6rem;
        }

        &-call {
            color: #000;
            margin-top: 15vh;
            font-size: 2.4rem;
        }
    }

    &_img {
        display: block;
        max-width: 30%;

        position: absolute;
        right: 10%;
        top: 15vh;
    }


}

.service {
    min-height: 100vh;
    padding-top: 8rem;
    background-color: #fff;
    position: relative;

    .section_title span{
        background: linear-gradient(94.05deg, #C403F4 -50.53%, #0092D1 119.48%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

    }

    &_list {
        display: block;
        background-color: $section_bg;
        width: 40rem;
        height: 60rem;
        padding: 9rem 4.8rem;
        border-radius: 2.4rem;
        list-style: none;

        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        

        &-item {
            font-size: 1.6rem;
            margin-top: 3.6rem;
            padding-left: 4.6rem;
            position: relative;

            &:first-child {
                margin-top: 0;
            }

            &::before {
                content: url("src/img/list-marker.svg");
                position: absolute;
                left: 0;
                top: 0.5rem;
            }
        }

        &::before {
            content: " ";
            width: 100%;
            height: 100%;
            border-radius: 2.4rem;
            position: absolute;
            top: -2.4rem;
            left: -2.4rem;
            background-color: red;
            z-index: -1;
        }
        
    }
}
