@import "reset.scss";
@import "globals.scss";


.navigation {

    height: 6rem;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    background: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &_menu {
        margin-left: 2rem;
        width: fit-content;
        display: flex;
        justify-content: center;
        height: 100%;

        &-item {
            height: inherit;
            padding-top: 2rem;
            font-size: 2rem;
            margin: 0 1.2rem;
            color: $disabled_text;

            transition: color 0.1s ease-in-out;

            &:hover {
                color: $accent;
                border-bottom: 0.2rem solid $accent;
            }
        }
    }

    &_phone {
        padding: 0.8rem 1.6rem;
        border-radius: 3rem;
        border: 0.2rem solid #c0c0c089;

        transition: all 0.2s ease-in-out;

        &-tel {
            font-size: 2rem;
            color: #000;
            margin-left: 2rem;
        }

        &-img {
            height: 2rem;
        }

        &:hover {
            border-color: $accent;
        }
    }
}

.logo {
    display: block;
    height: 4rem;
    img {
        height: 100%;
    }
}

.header {
    background-color: $section_bg;
    padding-top: 6rem;
    min-height: 100vh;
    position: relative;


    overflow: hidden;

    &_info {
        margin-top: 25vh;
        
        &-heading {
            font-size: 5.4rem;
            line-height: 5.4rem;
            font-weight: 600;
        }

        &-location {
            color: $accent;
            font-size: 2.4rem;
            margin-top: 1.6rem;
        }

        &-call {
            color: #000;
            margin-top: 15vh;
            font-size: 2.4rem;
        }
    }

    &_img {
        display: block;
        max-width: 30%;

        position: absolute;
        right: 10%;
        top: 15vh;
    }


}


.list_wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;

    width: 40rem;
    height: 60rem;
    border-radius: 2.4rem;
    &::before {
        content: " ";
        width: 100%;
        height: 100%;
        border-radius: 2.4rem;
        position: absolute;
        top: -2.4rem;
        left: -2.4rem;
        background: linear-gradient(94.05deg, #C403F4 -50.53%, #0092D1 119.48%);
        z-index: 0;
    }
}

.service {
    min-height: 100vh;
    
    background-color: #fff;
    position: relative;

    .section_title span{
        background: linear-gradient(94.05deg, #C403F4 -50.53%, #0092D1 119.48%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

    }

    &_list {
        display: block;
        background-color: $section_bg;
        width: 100%;
        height: 100%;
        padding: 9rem 4.8rem;
        border-radius: 2.4rem;
        list-style: none;

        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        

        &-item {
            font-size: 1.6rem;
            margin-top: 3.6rem;
            padding-left: 4.6rem;
            position: relative;

            &:first-child {
                margin-top: 0;
            }

            &::before {
                content: url("src/img/list-marker.svg");
                position: absolute;
                left: 0;
                top: 0.5rem;
            }
        }

        
        
    }

    &_info {
        max-width: 67rem;

        &-text {
            color: #000;
            font-size: 2.4rem;                           
            margin-top: 4.8rem;
            text-align: left;

            span {
                color: $accent;
            }
            &:first-child {
                margin-top: 0;
            }
        }

        &-wrapper {
            display: flex;
            align-items: center;
            margin-top: 12rem;

        }

        &-btn {
            background: linear-gradient(94.92deg, #C403F4 -156.51%, #0092D1 117.35%);
            position: relative;
            margin: 0;

            
        }

        &-radius {
            display: block;
            margin-left: 4.8rem;
            color: $accent;
            border-bottom: 2px solid $accent;
            font-size: 2.4rem;
            font-weight: 600;
            width: fit-content;
            margin-left: 4.8rem;
            

        }

        
    }

    &_wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 14rem;
    }
}

.advantages {
    position: relative;
    background-color: $section_bg;
    

    &_cards {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-top: 14rem;
    }
}

.reviews {
    position: relative;

    &_list {
        margin: 0 auto;
        margin-top: 14rem;
        list-style: none;
        max-width: 90rem;


        &-item {
            text-align: left;
            margin-top: 8.4rem;

            &:first-child {
                margin-top: 0;
            }

            h3 {
                font-size: 2.8rem;
                font-weight: 600;
                margin-left: 7.6rem;
                color: #000;
                position: relative;

                &::before {
                    content: url("src/img/review.svg");
                    display: block;
                    width: 6rem;
                    height: 6rem;
                    position: absolute;
                    top: -1.5rem;
                    left: -7.6rem;
                }
            }

            p {
                margin-top: 2.8rem;
                font-size: 2.4rem;
                color: #000;
            }
        }
    }
}

.contacts {
    background-color: #fff;

    &_wrapper {
        max-width: 120rem;
        height: 60rem;

        padding: 8rem 13rem;
        margin: 0 auto;
        margin-top: 14rem;

        border-radius: 2.4rem;
        background-color: #fff;

        box-shadow: $card_shadow;

        &-tel {
            background: linear-gradient(112.92deg, #C403F4 -104.21%, #0092D1 100.43%);
            display: block;
            width: 46rem;
            padding: 2.4rem 1rem;
            color: #fff;
            border-radius: 2.4rem;
            text-align: center;
            box-shadow: $card_shadow;
            margin: 0 auto;

            transition: all 0.3s ease-in-out;

            &:hover {
                transform: translateY(-1rem);
            }

            h2 {
                font-size: 4.8rem;
                font-weight: 600;
            }

            div {
                margin: 0 auto;
                margin-top: 2.4rem;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    font-size: 2.8rem;
                    font-weight: 400;
                    margin-left: 2.4rem;
                }
            }
        }


    }
}
